<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra - <%= game._id %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/game.js" defer></script>
</head>
<body>
    <h1>Gra: <span class="highlighted"><%= game._id %></span></h1>
    <a href="/" class="back-link">Powrót do strony głównej</a>

    <section>
        <h2>Uczestnicy:</h2>
        <ul id="player-list">
            <% game.players.forEach((player, index) => { %>
                <li>
                    <button type="button" onclick="togglePasswords(<%= index %>, <%= JSON.stringify(game.players) %>, <%= JSON.stringify(game.questions) %>)">
                        <strong><%= player.name %></strong>
                    </button>
                </li>
            <% }) %>
        </ul>
        <ul class="passwords" id="passwords-ul"></ul>

        <div id="question-form-container" style="display:none;">
            <form id="question-form" onsubmit="addQuestion('<%= game._id %>', event)">
                <div>
                    <input type="hidden" id="selected-player-id" value="">
                    <div class="input-group">
                        <label for="question">Pytanie:</label>
                        <input type="text" id="question" required>
                    </div>
                    <div class="input-group">
                        <label for="answer">Odpowiedź:</label>
                        <input type="text" id="answer" required>
                    </div>
                </div>
                <button type="submit">Dodaj pytanie</button>
            </form>
        </div>

        <div id="questions-list-container" style="display:none;">
            <h3>Lista pytań dla gracza</h3>
            <ul id="questions-list"></ul>
        </div>
    </section>
</body>
</html>
