<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra - <%= game._id %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Gra: <span class="highlighted"><%= game._id %></span></h1>
    <h2>Uczestnicy:</h2>
    <ul id="player-list">
        <% game.players.forEach((player, index) => { %>
            <li>
                <button type="button" onclick="togglePasswords(<%= index %>, <%= JSON.stringify(game.players) %>)">
                    <strong><%= player.name %></strong>
                </button>
            </li>
        <% }) %>
    </ul>
    <ul class="passwords" id="passwords-ul"></ul>

    <script>
        function togglePasswords(index, players) {
            const passwordsUl = document.getElementById('passwords-ul');
            const playersList = document.getElementById('player-list');
            playersList.style.display = "none";
            passwordsUl.innerHTML = "";  

            players.forEach((player, i) => {
                if (i !== index) { 
                    const li = document.createElement('li');
                    li.innerHTML = `<strong>${player.name}</strong>: ${player.password}`;
                    passwordsUl.appendChild(li);
                }
            }); 

            passwordsUl.style.display = "flex"; 
        }
    </script>
</body>
</html>
