<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Gier</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .password {
            display: none; /* Initially hide passwords */
        }
    </style>
</head>
<body>
    <h1>Historia Gier</h1>
    <a href="/" class="back-link">Powrót do strony głównej</a>
    <section id="games-history">
        <ul>
            <% games.forEach(game => { %>
                <article class="game-item">
                    <li>
                        <span><strong>Gra:</strong> <%= game._id %></span>
                        <div>
                            <strong>Gracze:</strong> 
                            <ul>
                                <% game.players.forEach(player => { %>
                                    <li>
                                        <span class="player-name"><%= player.name %></span> 
                                        <span class="password"><%= player.password %></span>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div>
                            <button class="reveal-passwords" type="button" onclick="togglePasswords(this)">Pokaż hasła</button>
                            <button class="show-game" onclick="showGame('<%= game._id %>')">Pokaż grę</button>
                        </div>
                        
                    </li>
                </article>
            <% }) %>
        </ul>
    </section>
    <div class="pagination">
        <% if (page > 1) { %>
            <a href="?page=<%= page - 1 %>">Poprzednia</a>
        <% } %>
        <span>Strona <%= page %> z <%= totalPages %></span>
        <% if (page < totalPages) { %>
            <a href="?page=<%= page + 1 %>">Następna</a>
        <% } %>
    </div>

    <script>
        function togglePasswords(button) {
            const gameItem = button.closest('.game-item');
            const passwords = gameItem.querySelectorAll('.password');
            
            passwords.forEach(password => {
                password.style.display = password.style.display === 'inline' ? 'none' : 'inline';
            });

            // Change button text based on visibility
            if (passwords[0].style.display === 'inline') {
                button.textContent = 'Ukryj hasła';
            } else {
                button.textContent = 'Pokaż hasła';
            }
        }

        function showGame(gameId) {
            // Redirect to the game details page
            window.location.href = `/game/${gameId}`;
        }
    </script>
</body>
</html>
